<%= form_for message do |f| %>
  <div>
    <%= f.label "Send Message To" %> <br>
    <%= f.text_field :receiver_id, list: 'username' %>
    <datalist id="username">
      <% users.each do |user| %>
        <option value="<%=user.username%>">
      <% end %>
    </datalist>
  </div>
  <div>
    <%= f.label "Title" %> <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Message" %> <br>
    <%= f.text_area :content %>
  </div>

  <%= f.submit%>
<% end %>
