<div class="centered">
  <h2 class="header">My Conversations</h2><br>
  <div class="button"><%= link_to "Send A New Message", new_message_path%></div>
</div>

<% @users_corresponded_with.each do |user| %>
<a class="message-specific" href="/messages/<%=user.id%>">
<div class="message-specific">

      <div class="message-sender"><%= user.username%></div>
      <% if current_user.message_notifications_with(user).count > 0 %>
        <span class="number-bubble"><%=current_user.message_notifications_with(user).count%></span>
      <% end %>
      <div class="speech-bubble speech-bubble-left little-bubble">
        <%= max_length(current_user.chronological_messages(user).first.content, 40)%>
      </div>

</div>
</a>

<% end %>
