<h3> <%= link_to @receiver.username, user_path(@receiver) %> </h3>
<ol>
  <% @messages_sorted.each do |message| %>
      <% if message.sender == @user %>
        <% symbol = "-->" %>
      <% else %>
        <% symbol = "<--" %>
      <% end %>
      <li> <b> <%= symbol %> <%= message.title %></b> - <%= message.created_at.strftime("%e %b %Y, %l:%M %p") %><br>
      <p> <%= message.content %> </p> </li>
  <% end %>
</ol>
