<div class="user-form">
  <%= form_for user do |f| %>
    <div class="">
      <%= f.label "User Name" %>
      <%= f.text_field :username %>
    </div>
    <div class="">
      <%= f.label "Profession" %>
      <%= f.text_field :profession %>
    </div>
    <div class="">
      <%= f.label "Location" %>
      <%= f.text_field :location %>
    </div>
    <div class="">
      <%= f.label "Profile URL" %>
      <%= f.text_field :profile_picture_url %>
    </div>

    <div class="">

    </div>
    <div class="">
      <%= f.label "Password" %>
      <%= f.password_field :password %> <br>
      <%= f.label "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="user-submit">
      <%= f.submit%>
    </div>

  <% end %>
</div>
