<img src="<%=@user.profile_picture_url%>" alt="">

<h2><%=@user.username%></h2>

<% if !@is_own_page %>
  <% flash[:receiver_id] = @user.id %>
  <%= link_to("Review This User", new_review_path) %>
<% end %><br>

<% if !@is_own_page %>
  <% flash[:receiver_id] = @user.id %>
  <%= link_to("Donate To This User", new_donation_path) %>
<% end %>

<%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id }, method: :delete if @is_own_page%>

<div>
  <%= "#{@user.profession} in #{@user.location}"%>
</div>
<h3>Reviews</h3>
<div class="reviews_div">
  <% if !@reviews.empty? %>
    <% @reviews.each do |review| %>
      <div class="review">
        <h4> <%= review.writer.username %> says...</h4>
        <%= review.content %> <br>
        <p>Posted at <%= review.created_at%></p>
      </div>
    <% end %>
  <% else %>
    <div class="no_reviews">
      No reviews yet!  Check back later.
    </div>
  <% end %>
</div>
<%= link_to "Back", users_path %>
<%= link_to "Become This User", user_morph_path(@user) %>
