<div class="top-profile-page">
  <h2 class="header"><%=@user.username%></h2>

  <img class="profile-pic" src="<%=@user.profile_picture_url%>" alt=""><br>

  <h4 class="user-show-header"> <%= "#{@user.profession} in #{@user.location}"%> </h4>

  <% if !@is_own_page %>
    <% flash[:receiver_id] = @user.id %>
    <div class="button-smaller"><%= link_to("Review This User", new_review_path) %></div>

    <div class="button-smaller"><%= link_to("Donate To This User", new_donation_path) %></div>

    <div class="button-smaller"><%= link_to "Become This User", user_morph_path(@user) %></div>
  <% end %>

  <% if @is_own_page %>
    <div class="center"><%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id }, method: :delete, data: {confirm: "Are you sure you want to delete your account?" }%></div>
  <% end %>
  <hr>
</div>


<div class="reviews-profile-page">
  <h3 class="user-show-header">Reviews</h3>
  <div class="reviews_div">
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="review-show">
          <h4> <%= review.writer.username %> says...</h4>
          <%= review.content %> <br>
          <p>Posted at <%= review.created_at.strftime("%e %b %Y, %l:%M %p")%></p>
        </div>
      <% end %>
    <% else %>
      <div class="no-reviews">
        No reviews yet!  Check back later.
      </div>
    <% end %>
  </div>
</div>
