<img src="<%=@user.profile_picture_url%>" alt="">
<div style="float: right">
  <% if @is_own_page %>
  <div>
    <%= link_to "#{pluralize(@notifications.count, "Notification")} Pending", notifications_path%><br>
    <%= link_to "My Donations", donations_path %><br>
    <%= link_to "Make Donation", new_donation_path %><br>
    <%= link_to "Send Message", new_message_path %><br>
    <%= link_to "Inbox", users_messages_path %>
  </div>
  <% end %>
</div>
<h2><%=@user.username%></h2>
<%= link_to "Edit", edit_user_path(@user) if @is_own_page%> <%= link_to("Review This User", new_review_path) if !@is_own_page%>
<%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id }, method: :delete%>
<div>
  <%= "#{@user.profession} in #{@user.location}"%>
</div>
<h3>Reviews</h3>
<div class="reviews_div">
  <% if !@reviews.empty? %>
    <% @reviews.each do |review| %>
      <div class="review">
        <h4> <%= review.writer.username %> says...</h4>
        <%= review.content %> <br>
        <p>Posted at <%= review.created_at%></p>
      </div>
    <% end %>
  <% else %>
    <div class="no_reviews">
      No reviews yet!  Check back later.
    </div>
  <% end %>
</div>
<%= link_to "Back", users_path %>
<%= link_to "Become This User", user_morph_path(@user) %>
