<img src="<%=@user.profile_picture_url%>" alt="">
<h2><%=@user.username%></h2>
<%= link_to "Edit", edit_user_path(@user)%><%= button_to "Delete", {controller: :users, action: 'destroy', id: @user.id }, method: :delete%>
<div>
  <%= "#{@user.profession} in #{@user.location}"%>
</div>
<div>
<%= link_to "Send New Message", new_message_path %>
</div>
<%= link_to "Back", users_path %>
