<div class="centered">
  <h3 class="header">New &nbsp&nbsp&nbspDonation</h3><br>
  <%= form_for @donation do |f|%>
    <div>
      <%= f.label "Send To"%>
      <%= f.collection_select :receiver_id, @other_users, :id, :username, {:selected => @receiver_id} %><br>
    </div>
    <div>
      <%= f.label "Amount" %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label "message" %>
      <%= f.text_area :content, size: "40x5" %>
    </div>



    <div class="donation-submit">
      <%= f.submit "Donate" %>
    </div>

  <% end %>
</div>
