<div class="centered">
  <h3 class="header">New &nbsp&nbsp&nbspDonation</h3><br>

  <div class="errors">
    <% if flash[:error_messages]%>
      <% flash[:error_messages].each do |message| %>
        <div class="alert errors">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= form_for @donation do |f|%>
    <div>
      <%= f.label "Send To"%>
      <%= f.collection_select :receiver_id, @other_users, :id, :username, {:selected => @receiver_id} %><br>
    </div>
    <div>
      <%= f.label "Amount" %>
      <%= f.text_field :amount %>
    </div>

    <div>
      <%= f.label "message" %>
      <%= f.text_area :content, size: "40x5" %>
    </div>



    <div class="donation-submit">
      <%= f.submit "Donate" %>
    </div>

  <% end %>
</div>
