<!DOCTYPE html>
<html>
  <head>
    <title>Underthetable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Donation Nation</h1>
    <% if logged_in? %>
    <%= link_to "Log Out", logout_path%>
    <% end %>
    <img src="https://upload.wikimedia.org/wikipedia/en/2/20/Sierra_Mist_2018_Logo.png" alt="">
    <%= yield %>
  </body>
</html>
